{% extends "layout.html" %}
{% block content %}
    <h1>My Applications</h1>
        <table data-role="table" class="table">
            <thead>
            <tr>
                <th>App Name</th>
                <th>Configuration File</th>
            </tr>
            </thead>
            <tbody>
            {% if apps %}
                {% for (name, config_file) in apps.items() %}
                    <tr>
                        <td>{{ name }}</td>
                        <td>
                            <a href="{{ url_for('provider.config_files', appname=name) }}" target="_blank">
                                configuration file
                            </a>
                        </td>
                        <td>
                            <a href="{{ url_for('provider.delete_apps', appname=name) }}" class="btn btn-default btn-sm"
                            aria-label="Left Align">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td>No Apps Available</td></tr>
            {% endif %}
            </tbody>
        </table>

    <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#newAppModal">Create a New App
    </button>

    <h1>My Clusters</h1>
    {% if clusters %}
        <table data-role="table" class="table">
            <thead>
            <tr>
                <th>Cluster Name</th>
                <th>Cluster Status</th>
            </tr>
            </thead>
            <tbody>
            {% for cluster in clusters %}
                <tr>
                    <td>{{ cluster.name }}</td>
                    <td>
                        <a href="http://{{ cluster_monitor_urls[cluster.name] }}" target="_blank">
                            status
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No Apps Available</p>
    {% endif %}
    <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#newClusterModal">Create a New Cluster
    </button>

    <!-- Modal -->
    <div id="newAppModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New App</h4>
                </div>
                <div class="modal-body">
                    <form id="newappform" method="POST" action="{{ url_for('provider.apps') }}" role="form"
                          enctype="multipart/form-data">
                        {{ appform.hidden_tag() }}
                        <div class="form-group">
                            <label>App Name:</label>
                            {{ appform.appname(placeholder="App Name", class_="form-control") }}
                        </div>
                        <div class="form-group">
                            <label>Cluster Name:</label>
                            {{ appform.clustername(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            <label>Configuration File:</label>
                            {{ appform.config_file(class_="form-control") }}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-default"
                    id="newappform_submit" name="form_name" value="Create App" form="newappform"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="newClusterModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Cluster</h4>
                </div>
                <div class="modal-body">
                    <form id="newclusterform" method="POST" action="{{ url_for('provider.apps') }}" role="form"
                          enctype="multipart/form-data">
                        {{ clusterform.hidden_tag() }}
                        <div class="form-group">
                            <label>Cluster Name:</label>
                            {{ clusterform.clustername(placeholder="Cluster Name", class_="form-control") }}
                        </div>
                        <div class="form-group">
                            <label>vCPUs:</label>
                            {{ clusterform.vCPUs(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            <label>vMemory(GiB):</label>
                            {{ clusterform.vMem(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            <label>Network:</label>
                            {{ clusterform.network(class_="form-control") }}
                              <fieldset class="form-group" id="network-bridge" style="display:block">
                                <label for="bridge-name">Bridge Name</label>
                                {{ clusterform.network_bridge_name(class_="form-control") }}
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <label>Acceleration:</label>
                            {{ clusterform.acceleration(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            <label>Cluster Type:</label>
                            {{ clusterform.clustertype(class_="form-control") }}
                              <fieldset class="form-group" id="cluster_custom" style="display:none">
                                <label for="cluster_custom_vm_image_format">Custom Image Format</label>
                                {{ clusterform.cluster_custom_vm_image_format(class_="form-control") }}
                                <label for="cluster_custom_vm_image_path">Custom Image Path</label>
                                {{ clusterform.cluster_custom_vm_image_path(class_="form-control") }}
                            </fieldset>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-default"
                    id="newclusterform_submit" name="form_name" value="Create Cluster"
                    form="newclusterform"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
       $(document).ready(function(){
            $("#network").on('change',function(){
                var selectedval = $("#network").val();
                if (selectedval == "Bridge") 
                {
                    $("#network-bridge")[0].style.display="block";
                }
                else{
                    $("#network-bridge")[0].style.display="none";
                }
            }); 
            $("#clustertype").on('change',function(){
                var selectedval = $("#clustertype").val();
                console.log(selectedval)
                if (selectedval == "Custom") 
                {
                    $("#cluster_custom")[0].style.display="block";
                }
                else{
                    $("#cluster_custom")[0].style.display="none";
                }
            }); 
       });
    </script>
{% endblock %}
