[DEFAULT]
dhcpbridge_flagfile=/etc/nova/nova.conf
dhcpbridge=/usr/bin/nova-dhcpbridge
state_path=/var/lib/nova
force_dhcp_release=True
verbose=True
ec2_private_dns_show_ip=True
enabled_apis=osapi_compute,metadata
transport_url = rabbit://openstack:{{rabbit_pw}}@{{openstack_controller_node}}
auth_strategy = keystone
my_ip = {{controller_ip}}
use_neutron = True
firewall_driver = nova.virt.firewall.NoopFirewallDriver

[database]
connection = mysql+pymysql://nova:{{db_pw}}@{{openstack_controller_node}}/nova

[api_database]
connection = mysql+pymysql://nova:{{db_pw}}@{{openstack_controller_node}}/nova_api

[oslo_concurrency]
lock_path=/var/lock/nova/tmp

[libvirt]
use_virtio_for_bridges=True

[wsgi]
api_paste_config=/etc/nova/api-paste.ini

[keystone_authtoken]
auth_uri = http://{{openstack_controller_node}}:5000
auth_url = http://{{openstack_controller_node}}:35357
memcached_servers = {{openstack_controller_node}}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = nova
password = {{ keystone_admin_pw }}

[vnc]
enabled = True
vncserver_listen = 0.0.0.0
vncserver_proxyclient_address = $my_ip
novncproxy_base_url = http://{{openstack_controller_node}}:6080/vnc_auto.html

[glance]
api_servers = http://{{openstack_controller_node}}:9292

[neutron]
url = http://{{openstack_controller_node}}:9696
auth_url = http://{{openstack_controller_node}}:35357
auth_type = password
project_domain_name = Default
user_domain_name = Default
region_name = RegionOne
project_name = service
username = neutron
password = {{keystone_admin_pw}}
service_metadata_proxy = True
metadata_proxy_shared_secret = {{metadata_secret}}
