
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>About</h1>
      <p>Cloudlet Gateway is a web server that launches cloudlet applications within VMs and/or containers. The user-facing web server is based on <a href="http://flask.pocoo.org/">flask</a>. VM orchestration uses <a href="https://wiki.openstack.org/wiki/Heat">OpenStack Heat</a>. Container orchestration uses <a href="https://docs.docker.com/engine/swarm/">Docker Swarm</a>.</p>
    </div>
</div>
{% endblock %}

